.about__container {
  display: block;
}

.about__me {
  width: 100%;
  margin: auto;
  margin-bottom: 15px;
}

.about__me-image {
  border-radius: 2rem;
  width: 250px;
  height: 200px;
  margin: auto;
  overflow: hidden;
  transform: rotate(10deg);
  background: linear-gradient(45deg, transparent, var(--color-primary), transparent);
  transition: 0.5s;
}

.about__me-image img {
  height: 100%;
  width: 100%;
}

.about__me-image:hover {
  transform: rotate(0);
}

.about__cards {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.about__card {
  background: var(--color-bg-variant);
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
  width: 33%;
}

.about__card:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.about__icon {
  color: var(--color-primary);
  font-size: 1rem;
  margin-bottom: 1rem;
}

.about__card h5 {
  font-size: 0.95rem;
}

.about__card small {
  font-size: 0.7rem;
  color: var(--color-light);
}

.about__content p {
  margin: 2rem 0 2.6rem;
  color: var(--color-light);
}

/* ================== MEDIA QUERIES ( LARGE DEVICES ) ==================== */

@media (min-width:320px) {
  /* Styles pour écran ≥ 480px */
}

/* Smartphone paysage (≥ 480px) */
@media (min-width:480px) {
  /* Styles pour écran ≥ 480px */
}

/* Tablette portrait (≥ 600px) */
@media (min-width:600px) {
  /* Styles pour écran ≥ 600px */
}

/* Tablette paysage / petits laptops (≥ 768px) */
@media (min-width:768px) {
  /* Styles pour écran ≥ 768px */
}

/* Ordinateur portable (≥ 992px) */
@media (min-width:992px) {
  /* Styles pour écran ≥ 992px */
  .about__container {
    display: grid;
    margin-top: 10%;
    grid-template-columns: 35% 50%;
    gap: 15%;
  }
  
  .about__me {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(45deg, transparent, var(--color-primary), transparent);
    display: grid;
    place-items: center;
  }
}

/* Écran desktop standard (≥ 1200px) */
@media (min-width:1200px) {
  /* Styles pour écran ≥ 1200px */
}

/* Écran très large (≥ 1400px) */
@media (min-width:1400px) {
  /* Styles pour écran ≥ 1400px */
}
