.contact__container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.contact__options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 100%;
}

.contact__option {
  background: var(--color-bg-variant);
  padding: 1rem;
  border-radius: 1.2rem;
  text-align: center;
  border: 1px solid transparent;
  transition: var(--transition);
}

.contact_option_icon_name {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.contact__option:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
}

.contact__option-icon {
  font-size: 1.5rem;
}

.contact__option a {
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 0.8rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

input,
textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 2px solid var(--color-primary-variant);
  resize: none;
  color: var(--color-white);
}

.content_entete_forme {
  width: 100%;
}

.entete_forme_title {
  text-align: start;
}

@media (min-width:600px) {
  /* Styles pour écran ≥ 768px */
  .contact__options {
    flex-direction: row;
  }
  
  .contact__option {
    width: 50%;
  }
  
  .contact__container {
    padding-top: 25px;
  }
}

/* Tablette paysage / petits laptops (≥ 768px) */
@media (min-width:768px) {
  /* Styles pour écran ≥ 768px */
}

/* Ordinateur portable (≥ 992px) */
@media (min-width:992px) {
  /* Styles pour écran ≥ 992px */
  #contact {
    padding: 45px 0;
  }
  
  .contact__container {
    flex-direction: row;
    gap: 0.5rem;
  }
  
  .contact__options {
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .contact__options {
    width: 33%;
  }
  
  form {
    width: 66%;
  }
  
  .contact__option {
    width: 95%;
  }
}

/* Écran desktop standard (≥ 1200px) */
@media (min-width:1200px) {
  /* Styles pour écran ≥ 1200px */
}

/* Écran très large (≥ 1400px) */
@media (min-width:1400px) {
  /* Styles pour écran ≥ 1400px */
}