.footer {
  padding: 1.5rem;
  color: white;
  font-weight: 500;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.2rem;
}

.signature_name,
.signature_year {
  font-size: 0.8rem;
  font-family: "Quicksand", "font-1", serif;
}
