.experience__container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.experience__content {

}

.experience__frontend {
  border-radius: 2rem;
  transition: var(--transition);
  height: fit-content;
}

.experience__container > div:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.experience__container > div h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-primary);
}

.experience_entete {
  text-align: center;
}

.experience__content {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 8px;
}

.experience__details {
  display: flex;
  gap: 1rem;
}

.experience__details-icon {
  margin-top: 0.6rem;
  color: var(--color-primary);
}

.content_image_tech {
  background: transparent;
  border: 1px solid  var(--color-bg-variant);
  transition: var(--transition);
  height: 85px;
  width: 85px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.image_tech {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.content_image_tech:hover {
  background: var(--color-bg-variant);
  border: 1px solid  var(--color-bg-variant);
  position: relative;
  display: inline-block;
}

.tooltip {
  visibility: hidden;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 4px 8px;
  border-radius: 4px;
  position: absolute;
  z-index: 10;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s;
}

.content_image_tech:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

@media (min-width:450px) {
  /* Styles pour écran ≥ 768px */
  .experience__content {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width:600px) {
  /* Styles pour écran ≥ 768px */
  .experience__content {
    grid-template-columns: repeat(5, 1fr);
  }
}

/* Tablette paysage / petits laptops (≥ 768px) */
@media (min-width:768px) {
  /* Styles pour écran ≥ 768px */
  .experience__content {
    grid-template-columns: repeat(7, 1fr);
  }
}

/* Ordinateur portable (≥ 992px) */
@media (min-width:992px) {
  /* Styles pour écran ≥ 992px */
  #experience {
    padding: 45px 0;
  }
}

/* Écran desktop standard (≥ 1200px) */
@media (min-width:1024px) {
  .experience__content {
    width: 95%;
    margin: auto;
  }
}

@media (min-width: 1124px) {
  .experience__content {
      width: 85%;
      margin: auto;
  }
}

@media (min-width: 1200px) {
  .experience__content {
      width: 80%;
      margin: auto;
  }
}

@media (min-width: 1200px) {
  .experience__content {
      width: 70%;
      margin: auto;
  }
}

@media (min-width: 1450px) {
  .experience__content {
      width: 65%;
      margin: auto;
  }
}

@media (min-width: 1550px) {
  .experience__content {
      width: 55%;
      margin: auto;
  }
}

@media (min-width: 1750px) {
  .experience__content {
      width: 50%;
      margin: auto;
  }
}