.ending_container {
	padding: 2rem;
	background: var(--color-bg-variant);
	color: white;
	font-weight: 300;
}

.ending_title {
	text-align: center;
	font-size: 2rem;
	margin-bottom: 1rem;
}

.content_load_cv {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.ending_text {
	text-align: center;
	margin-top: 2rem;
}

.content_social_ending {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 5px;
	width: 100%;
	margin: 0 auto;
}

.cta_ending_action {
	background: var(--color-white);
	color: black !important;
	border-color: transparent;
}

.contact__option_ending {
	background: var(--color-bg-variant);
	padding: 10px;
	border-radius: 10px;
	text-align: center;
	border: 2px solid var(--color-primary-variant);
	transition: var(--transition);
	width: 150px;
	margin: auto;
	cursor: pointer;
	background: transparent;
	border-color: var(--color-primary-variant);
	color: white;
}

.contact__option_ending:hover {
	background: var(--color-white);
	color: black !important;
	border-color: transparent;
}

.contact_option_icon_name{
	color: white;
}

.contact__option_ending:hover .contact_option_icon_name {
	color: black !important;
}

.title_joining {
	margin: 1rem;
}

@media (min-width: 360px) {
	/* Styles pour écran ≥ 768px */
	.content_social_ending {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 5px;
	}
}

@media (min-width: 400px) {
	/* Styles pour écran ≥ 768px */
	.content_social_ending {
		width: 90%;
	}
}

@media (min-width: 450px) {
	/* Styles pour écran ≥ 768px */
	.content_social_ending {
		width: 80%;
	}
}

@media (min-width: 500px) {
	/* Styles pour écran ≥ 768px */
	.content_social_ending {
		width: 70%;
	}
}

@media (min-width: 550px) {
	/* Styles pour écran ≥ 768px */
	.content_social_ending {
		width: 60%;
	}

	.ending_title {
		font-size: 2.5rem;
	}
}

@media (min-width: 640px) {
	/* Styles pour écran ≥ 768px */
	.content_social_ending {
		width: 55%;
	}
}

@media (min-width: 690px) {
	/* Styles pour écran ≥ 768px */
	.content_social_ending {
		width: 50%;
	}
}

@media (min-width: 750px) {
	/* Styles pour écran ≥ 768px */
	.content_social_ending {
		width: 45%;
	}
}

@media (min-width: 850px) {
	/* Styles pour écran ≥ 768px */
	.content_social_ending {
		width: 35%;
	}

	.ending_title {
		font-size: 3rem;
	}
}

@media (min-width: 1024px) {
	/* Styles pour écran ≥ 768px */
	.content_social_ending {
		width: 30%;
	}
}

@media (min-width: 1250px) {
	/* Styles pour écran ≥ 768px */
	.content_social_ending {
		width: 25%;
	}
}

@media (min-width: 1450px) {
	/* Styles pour écran ≥ 768px */
	.content_social_ending {
		width: 22%;
	}

	.ending_title {
		font-size: 3.5rem;
	}
}

@media (min-width: 1600px) {
	/* Styles pour écran ≥ 768px */
	.content_social_ending {
		width: 20%;
	}
}

@media (min-width: 1750px) {
	/* Styles pour écran ≥ 768px */
	.content_social_ending {
		width: 18%;
	}
}

@media (min-width: 1950px) {
	/* Styles pour écran ≥ 768px */
	.content_social_ending {
		width: 16%;
	}
}

